.rounded-top-left {
    border-top-left-radius: .25rem !important;
}

.rounded-top-right {
    border-top-right-radius: .25rem !important;
}

ul {
    list-style-type: disc !important;
}

h1 {
    font-size: 36px;
    line-height: 40px;
}
h2{
    font-size: 23px;
    line-height: 26px;
}
h3{
    font-size: 21px;
    line-height: 23px;
}
h4 {
    font-size: 18px;
    line-height: 20px;
}
h5 {
    font-size: 15px;
    line-height: 15px;
}
h6 {
    font-size: 12px;
    line-height: 15px;
}

.raleway {
    font-family: RalewayGeneral sans-serif !important;
}

@font-face {
    font-family: 'RalewayGeneral';
    src: url('fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}